body{
    margin: 0;
    padding-top: 50px
}

#menu{
    position: fixed;
    z-index: 1;
    top: 0px;
    width: 100%;
    background-color: rgb(103, 218, 212);
    display: grid;
    grid-template-columns: auto min-content;
    grid-template-areas: 
        "logo menu"
}


#start{display: none;}
#about{display: none;}
#contact{display: none;}
#ham{
    grid-area: menu; 
    align-self: center;
}

#mobile_menu{
    background-color: rgb(190, 227, 219, 0.5);
    display: none;
    position: absolute;
    top: 64px;
    right: 0;
    width: 100%;
}

#ham_icon{
    padding: 10px;
    display: block;
    width: 30px;
    height: 44px;
    object-fit: contain;
}

#ham:hover #mobile_menu{
    padding: 10px;
    display: grid;
    justify-items: center;
}

#logo{
    margin: 10px;
    width: 40px;
    border: 2px solid white;
    border-radius: 4px;
}

.menu_item{
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: x-large;
    padding: 10px;
    margin: 5px;
    width: 150px;
    text-decoration: none;
    text-align: center;
    color: black;

    background-color: rgb(250, 249, 249);
    border-radius: 40px;
}

#wrapper{
    display: grid;
    grid-template-areas: 
        "intro_text"
        "projekt"
        "slide"
        "about_text"
    ;
}

#intro_text{
    grid-area: intro_text;
    padding: 10px 30px 10px 30px;
    scroll-margin-top: 100px;
    font-family: 'Roboto', sans-serif;
}

#projects{
    grid-area: projekt;
    margin: 10px 30px 0px 30px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

#proj_leg{
    font-size: xx-large;
    font-weight: bold;
}

/* ----- Image Slide (Imported From Youtube) ----- */

#slider{
    scroll-margin-top: -120px;
    grid-area: slide;
    padding-top: 200px;
    overflow: hidden;
    margin: 30px;
    bottom: 0px;
}

#slider figure{
    position: relative;
    width: 400%;
    margin: 0;
    left: 0;
    animation: 15s slider infinite;
}

#slider figure img {
    float: left;
    width: 25%;
}

@keyframes slider {
    0%{left: 0;}
    20%{left: 0;}
    25%{left: -100%;}
    45%{left: -100%}
    50%{left: -200%}
    70%{left: -200%}
}

/* ------------ End Of Image Slide ------------ */


#about_text{
    grid-area: about_text;
    padding: 0px 30px 0px 30px;
    font-family: 'Roboto', sans-serif;
}

#about_text h2{
    text-align: center;
    text-decoration: underline;
}

/* --------- Start scroll icon ---------*/

.scroll{
    position: fixed;
    left: 45%;
    bottom: 0%;
    text-align: center;
    animation: 5s scroll_ani infinite;
}

.scroll p{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: small;
}

@keyframes scroll_ani {
    0%{bottom: 0%}
    25%{bottom: 7px}
    50%{bottom: 0%}
    75%{bottom: 7px}
    100%{bottom: 0%}
}
/* --------- End scroll icon ---------*/

#contact_info{
    padding-top: 200px;
    padding-bottom: 75px;
    font-family: 'Roboto', sans-serif;
}

#contact_info h2{
    text-align: center;
    text-decoration: underline;
}

#contact_info div{
    justify-self: left;
    padding: 0px 30px 0px 30px;
    font-size: 20px;
    line-height: 30px;        
}

/*Desktop*/
@media (min-width: 700px) {
    #menu{
        padding: 10px;
        background-color: rgb(137, 176, 174);
        display: grid;
        grid-template-columns: 50% auto auto auto;
        grid-template-areas: 
        "logo start about contact"
    }
        
    #menu{
        font-family: 'Roboto', sans-serif;
        font-weight: 600;
        font-size: x-large;
    }

    #ham{display: none;}
    #start{grid-area: start;}
    #about{grid-area: about;}
    #contact{ grid-area: contact;}

    #start,#about,#contact{
        display: block; 
        align-self: center;
        color: black;
        text-decoration: none;
    }
}